<h1>Pleas Login</h1>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<h2 class='link'><%= link_to 'Books', books_path %></h2>
<h2 class='link'><%= link_to 'Reviews', reviews_path %></h2>

<%= form_tag do %>
  <div class="field">
    <%= label_tag :userid %>
    <%= text_field_tag :userid %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag "Login" %>
  </div>

  <%= link_to 'create new account', new_user_path %>

<% end %>
